.header {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.titles {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
}