* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik Doodle Shadow", system-ui, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}